<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>Mi carrito</h2>
    <ul>
        {% for item in items %}
            <li>{{ item[0] }} - Cantidad: {{ item[1] }} - Subtotal: ${{ item[3] }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="/checkout/{{ carritoId }}">
        <button type="submit">Confirmar compra</button>
    </form>
</body>
</html>