<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>Catálogo de productos</h2>
    <ul>
        {% for p in productos %}
            <li>
                <strong>{{ p[1] }}</strong> - ${{ p[4] }}
                <a href="/producto/{{ p[0] }}">Ver detalle</a>
                <form method="POST" action="/carrito_detalle">
                    <input type="hidden" name="carritoId" value="ID_DEL_CARRITO">
                    <input type="hidden" name="productoId" value="{{ p[0] }}">
                    <input type="number" name="cantidad" value="1" min="1">
                    <button type="submit">Agregar al carrito</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>