<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>Eventos registrados</h2>
    <table border="1">
        <tr><th>Evento</th><th>UserId</th><th>Acción</th><th>Fecha</th></tr>
        {% for e in eventos %}
            <tr>
                <td>{{ e['eventoId'] }}</td>
                <td>{{ e['userId'] }}</td>
                <td>{{ e['accion'] }}</td>
                <td>{{ e['fecha'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>