<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>Mi perfil</h2>
    <form method="POST" action="/perfil">
        <label>Nombre:</label>
        <input type="text" name="nombre" value="{{ cliente[1] }}"><br>
        <label>Email:</label>
        <input type="text" name="email" value="{{ cliente[2] }}"><br>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>