{% extends "base.html" %}
{% block title %}Registro de Producto{% endblock %}
{% block content %}
    <h2>Agregar nuevo producto</h2>
    <form method="POST" action="{{ url_for('nuevo_producto') }}" enctype="multipart/form-data" class="form-group">
        <label>Nombre del producto:</label>
        <input type="text" name="nombre" class="form-control" required>
        <label>Precio:</label>
        <input type="number" name="precio" class="form-control" step="0.01" required>
        <label>Descripción:</label>
        <textarea name="descripcion" class="form-control" rows="3"></textarea>
        <label>Stock:</label>
        <input type="number" name="stock" class="form-control" min="0" required>
        <label>Imagen:</label>
        <input type="file" name="imagen" class="form-control">
        <button type="submit" class="btn btn-primary mt-3">Guardar producto</button>
    </form>
    <td>
        <a href="{{ url_for('editar_producto_route', productoId=producto.productoId) }}" 
        class="btn btn-warning btn-sm">Editar</a>

    </td>
{% endblock %}